@charset "utf-8";

:root {
    --width-mobile: 375px;
    --width-desktop: 1440px;
    --color-green: hsl(75, 94%, 57%);
    --color-white: hsl(0, 0%, 100%);
    --color-grey: hsl(0, 0%, 12%);
    --color-off-black: hsl(0, 0%, 8%);
    --font-size-p: 14px;
    --font-inter: "Inter", Arial, sans-serif;
    --font-poppins: "Poppins", Arial, sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
}